@model InvoiceMaker.Models.Invoice

@{
    ViewBag.Title = "Edit";
}


<h3>Invoice Number: @Model.InvoiceNumber</h3>
<h3>Client: @Model.Client.Name</h3>
<h3>Status: @Model.Status.ToString()</h3>

@Html.ActionLink("Add Fee", "Add", "FeeLineItem", new { id = Model.Id }, new { @class = "pure-button button-success"})
@Html.ActionLink("Add Work", "Add", "WorkLineItem", new { id = Model.Id }, new { @class = "pure-button button-success" })


<table class="pure-table pure-table-bordered pure-table-horizontal">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>When</th>
            <th>&nbsp</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var lineItem in Model.LineItems)
        {
            <tr>
                <td>@lineItem.Description</td>
                <td>@lineItem.Amount</td>
                <td>@lineItem.When</td>
                <td>Edit Button</td>
            </tr>

        }
    </tbody>
</table>


@Html.ActionLink("Finalize", "Finalize", "Invoices", new { id = Model.Id }, new { @class = "pure-button button-success" })

